[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
countryName = {{ certificate_country_name | default("US") }}
commonName = {{ certificate_domain | default("example.com") }}
emailAddress = {{ certificate_email_address | default("contact@example.com") }}
