[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
countryName = {{ country_name | default("US") }}
commonName = {{ domain | default("example.com") }}
emailAddress = {{ email_address | default("contact@example.com") }}
