server {
  listen 80;

  root {{ site_path }};
  index index.html;

  server_name{% for server_name in site_server_names %} {{ server_name }}{% endfor %};

  location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  location / {
   try_files $uri.html $uri $uri/ /index.html;
  }
}
