[Unit]
Description={{ app_description }}
{% if app_after %}After={{ app_after }}.target{% endif %}

[Service]
Type=forking
User={{ app_user }}
ExecStart={{ app_command }}

[Install]
WantedBy=multi-user.target
